

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
:root{
  --navHeightB: 20vh;
}

.App-header {
  background-color: #383c44;
  min-height: var(--navHeightB);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1;
}
.App-header + .App-body{
  margin-top: calc(var(--navHeightB) + 1px);
}
.top-nav, .bottom-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: calc(var(--navHeightB)/2);
}

.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-menu .dropdown-item{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu .dropdown-item:hover{
  background-color: grey;
}

body{
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
